<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<div class="container" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/architecture.jpg'); background-repeat: no-repeat; background-size: 100% 100%; background-position: center center;">

<div class="container text-center  p-1 my-1">
  <h1>Ask.com</h1>
</div>
<!--horizontal search bar start-->
<nav class="navbar navbar-expand-sm bg-light navbar-dark border">
  <form class="form-inline" action="/">
    <input class="form-control mr-sm-2" type="text" placeholder="Search">
    <button class="btn btn-primary" type="submit">Search</button>
  </form>
</nav>
<!--horizontal search bar end-->
<!--horizontal menu bar start-->
<nav class="navbar navbar-expand-sm bg-light navbar-light border">
    <ul class="nav-item active">
      <a class="nav-link" href="#">Active</a>
    </ul>
    <ul class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </ul>
    <ul class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </ul>
    <ul class="nav-item">
      <a class="nav-link" href="#">Disabled</a>
    </ul>
  </ul>
</nav>
<!--horizontal menu bar end-->
<div class="row">
  <div class="col-sm-3 border bg-light">
    <nav class="navbar bg-light">
        <!-- Links -->
        <ul class="navbar-nav text-center p-1 my-1 border">
          <li class="nav-item">
            <a class="nav-link text-center border">Menu</a>
          </li>
          <li class="nav-item border text-wrap">
            <a class="nav-link" href="#viewSection" (click)=viewBasicDetails()>View Basic Details</a>
          </li>
          <li class="nav-item border text-wrap">
            <a class="nav-link" href="#viewSection" (click)=checkAccountBalance()>Account Balance</a>
          </li>
          <li class="nav-item border text-wrap">
            <a class="nav-link" href="#viewSection" (click)=fundTransfer()>Fund Transfer</a>
          </li>
            <li class="nav-item border text-wrap">
            <a class="nav-link" href="#viewSection" (click)=editBasicDeatils()>Edit Basic Details</a>
          </li>
            <li class="nav-item border text-wrap">
            <a class="nav-link" href="#viewSection" (click)=pinChange()>Pin Change</a>
          </li>
            <li class="nav-item border text-wrap">
            <a class="nav-link" href="#viewSection" (click)=more()>More..</a>
          </li>
        </ul>
    </nav>
  </div>
  <div class="col-sm-7 border bg-light" id="viewSection">
    <div class="container border p-1 my-1">
      <p>{{message}}</p>
      <!--table for displaying basic details of customer-->
      <h2>Your Basic details</h2>
      <p>To edit your basic details please click to edit basic details</p>
          <div class="table-responsive">
              <table class="table table-striped border">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Date of Birth</th>
                    <th>Phone number</th>
                    <th>Your Username</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let customer of customerDetails">
                    <td>{{customer.name}}</td>
                    <td>{{customer.address}}</td>
                    <td>{{customer.DOB}}</td>
                    <td>{{customer.phone}}</td>
                    <td>{{customer.username}}</td>
                  </tr>
                </tbody>
              </table>
          </div>
          <!--table end-->
    </div>
  </div>
  <div class="col-sm-2 border bg-light" id="viewSection">
    <div class="container border p-1 my-1">
        <ul class="navbar-nav text-center">
          <li class="nav-item">
            <a class="nav-link text-center border text-auto" href="#viewSection" (click)=update()>Updates</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-center border text-auto" href="#viewSection" (click)=help()>Help</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-center border text-auto" href="#viewSection" (click)=contactUs()>Contact Us</a>
          </li>
        </ul>
    </div>
   </div>
</div>
</div>